{% extends "scanner/layout.html" %}
{% block title %}
Scanning IP
{% endblock %}
{% block content %}
{% if warning %}
<h2>{{ warning }} </h2> 
{% endif %}
{% if data %}
{% for i in data %}
<p>
    {{ i }}
</p>
{% endfor %}
<a href="{% url 'ip_scanner' %}">
<input class="btn btn-primary"  type="submit"  value="Go To Scanner"></a>
{% endif %}
{% if error %}
<script>
alert('{{ error }}');
</script>
<br>
<h2>Scan IP Address</h2>
<form method="POST" style="float: center">
<table >
{{ form }}
</table>
{% csrf_token %}
<button type="submit">Scan</button>
{% endif %}

{% endblock %}