{% extends "scanner/layout.html" %}
{% block title %}
Web Scanner Tool
{% endblock %}
{% block content %}

<style type="text/css">
	body, html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}
body {
    display:table-cell;
   
}
form {
    display:table;/* shrinks to fit content */
    margin:auto;
}


</style>

<form method="POST" id="form1">
	<div id="outerDiv"> <!-- This div is the outermost div of the form-->

<table>
{% csrf_token %}
<div id="liveAlertPlaceholder"></div>
{{ form }}
</table>

<button id="btn_submit" type="submit" class="btn btn-primary" >Scan</button>
</div>
</form>
{% load static %}
<img id="img1" src="{% static 'scanner/assets/img/loading.gif'%}" style="height: 100vh; width: 100vw; display: none;">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script>
    $(document).ready(function() {
        $("#form1").submit(function() {
            $("#img1").show();
        });
    });
</script>



{% endblock %}